body{
    font-family: Arial;
    background: #eee;
}

p{
    margin: 0px 0px 15px;
}

.button{
    background: $grey;
    color: white;
    text-decoration: none;
    width: 170px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0px;
    border-radius: 20px;
    border: 2px solid;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: transparent;
        color: teal
    }
}

