body{
    font-family: Arial;
    background: #eee;
    font-family: 'helvetica_now_textbold';
}

p{
    margin: 0px 0px 15px;
}

.button{
    background: $ocean;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid $ocean;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    &:hover {
        background-color: transparent;
        color: $ocean
    }
    &-stroke{
        background: transparent;
        border-color: #000;
        color: #000;
        &:hover {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }
    }
}


.surf_and_more {
    padding: 30px 0px 30px;

    a {
        margin: 0px 10px 0px 0px;
    }
}

.whats_new {
    padding: 80px 0px 150px;

    h2 {
        padding: 0px 0px 30px;
    }

    img {
        padding: 20px 0px
    }

    p {
        padding: 10px;

        a {
            color: $ocean;
            text-decoration: underline;
        }
    }
}



